#voicebase-keywords-form .ajax-progress {
  float: none;
}

#voicebase-keywords-form, #voicebase-keywords-searchform {
  overflow: hidden;
}

#voicebase-keywords-searchform {
  margin: 0 0 50px 0;  
}

#voicebase-keywords-searchform #vb_keywords,
#voicebase-keywords-form #vb_keywords {
  background-color: #FFFFFF;
  border: 1px solid #95A1B4;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  display: block;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  float: left;
  background: url("../img/vb_logo.png") no-repeat 100% 4px;
/*  width: 535px;*/
}

#voicebase-keywords-form #vb_kw_search,
#voicebase-keywords-searchform #vb_kw_search {
  background: url("../img/search_audio.gif") no-repeat left top;
  padding: 0;
  margin: 3px 0 0 4px;
  border: none;
  text-indent: 5000px;
  float: left;
  overflow: hidden;
  width: 53px;
  height: 22px;
  cursor: pointer;
  border-radius: 0;
}

#vb_kw_clear {
  position: absolute;
  width: 17px;
  height: 17px;
  background: url("../img/vb_clear.png") no-repeat left top;
  top: 5px;
  right: 5px;
}

div.vb_keywords {
  position: relative;
  overflow: hidden;
  float: left;
}

#voicebase-blocksearchform #edit-vb-search {
/*  width: 10em;*/
}

ul.vb_search_result li .vb_time_bar_all {
  width: 75%;  
  float: left;
/*  height: 20px;*/
}

.region-content ul.vb_search_result {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.vb_search_result li {
  width: 100%;
  overflow: hidden;
  margin: 0 0 30px 0;
}

ul.vb_search_result li .vb_recording_title {
  width: 23%;
  float: left;
}

ul.vb_search_result li .vb_time_bar_all .vb_time_bar_1 {
  height: 7px;
  width: 100%;
  background: #77AADD;
  border: 1px solid #4C88C4;
  border-radius: 3px;
}

ul.vb_search_result li .vb_time_bar_all .vb_markups {
  position: relative;
  width: 100%;
  height: 35px;  
  padding: 15px 0 0 0;
}

ul.vb_search_result li .vb_time_bar_all .vb_markups .vb_mark {
  position: absolute;
  width: 20px;
  overflow: hidden;
  margin: 0 0 0 -10px;
  top: 0;
}

div.vb_arrow_up a {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid;
}

span.vb_arrow_up {
  float: left;
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid;
  margin: 5px 5px 0 0;
 }

div.vb_arrow_up a:hover {
  border-bottom-color: #BBBBBC !important;
}

div.form-item-vb-keywords {
  margin: 0;
}

div.vb_keywords div.vb_words {
  position: absolute;
  cursor: text;
  height: 20px;
  left: 4px;
  top: 4px; 
}

div.vb_keywords div.vb_words ul li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 5px;
  background: url("../img/bg.gif") repeat-x left top;
  border: 1px solid #DADADA;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  height: 18px;
}

div.vb_keywords div.vb_words ul {
  list-style: none;  
  margin: 0;
  padding: 0;
}

ul.vb_pager {
  list-style: none;
  overflow: hidden;
}       

div.vb_keywords div.vb_words ul span.vb_search_word {
  float: left;  
}

ul.vb_pager li {
  float: left;
  padding: 0 5px;
}

 li a.vb_search_phrase {
  display: block;
/*  overflow: hidden;  */
}

.vb_active_font_color {
  color: black !important;
}

#voicebase-keywords-searchform #vb_keywords {
  color: white;
}

div.vb_markup_tip {
  display: none;
  position: relative;
/*  margin: 20px 0 0 0;*/
  background: #EDF0F8;
  width: 100%;
  padding: 3px 15px;
}